

<div class=" fullscreen " id="particles" style="height:100%; width:100%; position: absolute;"></div>

<div class="bg-parallax fullscreen parallax-overlay"  data-jarallax-video="https://www.youtube.com/watch?v=B1BAkfvDS9o&" data-jarallax-original-styles="null">



            <div class="d-flex align-items-center">
                <div class="container">
                    <div class=" row">
                        <div class="col-md-10 offset-md-1 text-center">
                            <img class="img-responsive" src="landing/images/dreamcore_logo_white.png" alt="">

                            <div class="hero-text-style1">
                                <!-- <h1 class="mt0 mb10 text-white">We've make assan <br> to impress your visitors online</h1> -->
                                <p class="lead mt50 text-white-gray">
                                    Пространство, где&nbsp;<b>мечты</b> превращаются в&nbsp;<b>достижения</b>.
                                </p>
                                <!-- <a href="#" class="btn btn-white-outline btn-rounded">Learn More</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--hero-->
        <div class="container pt90 pb20" id="project">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto text-center">
                    <div class="center-title mb50">
                        <h3>Что это?</h3>
                    </div>
                    <p class='lead font400 mb50'>
                      Dreamcore &mdash; это&nbsp;инструмент для&nbsp;самоорганизации, помогающий <span class='text-white'>ставить цели</span> и&nbsp;<span class='text-white'>добиваться их&nbsp;осуществления</span>.
                    </p>
                    <p class='lead font400 mb50'>
                      Вот ситуации, когда это может быть полезно:
                    </p>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-4 mb30 img-text'>
                    <img src='landing/images/work2.jpg' alt='' class='img-fluid mb20'>
                    <h4 class='feature-text mb20'>Поиск баланса</h4>
                    <p>
                        Поздний вечер на&nbsp;работе. Любимые хобби заброшены. Знакомая ситуация?

                        Баланс касается не&nbsp;только традиционного <span class='text-white'>work / life</span>, но&nbsp;и&nbsp;вообще поиска гармонии между различными сферами жизни.

                    </p>
                </div>
                <div class='col-md-4 mb30'>
                    <img src='landing/images/game.jpg' alt='' class='img-fluid mb20'>
                    <h4 class='feature-text mb20'>Геймификация </h4>
                    <p>
                        Когда мы играем, мы стремимся ощутить игру во&nbsp;всей полноте &mdash;
                        будь&nbsp;то сложные миссии или исследование неизведанных областей.
                        Те&nbsp;же принципы могут действовать и&nbsp;в&nbsp;реальном мире, стоит <span class='text-white'>взглянуть на&nbsp;жизнь как&nbsp;на&nbsp;игру</span>.

                    </p>
                </div>

                <div class='col-md-4 mb30'>
                    <img src='landing/images/compass.jpg' alt='' class='img-fluid mb20'>
                    <h4 class='feature-text mb20'>Кризис самоидентификации</h4>
                    <p>
                      Кто я? Куда и&nbsp;зачем я двигаюсь? <span class='text-white'>Чего я хочу на&nbsp;самом деле?</span>
                      Если эти вопросы накрывают с&nbsp;головой, ваши цели в&nbsp;Dreamcore выступают в&nbsp;качестве компаса, помогающего выбрать правильный вектор развития.
                    </p>
                </div>

                <div class='col-md-4 mb30'>
                    <img src='landing/images/track.jpg' alt='' class='img-fluid mb20'>
                    <h4 class='feature-text mb20'>Ведение личной истории</h4>
                    <p>
                      Традиционные организационные инструменты ориентированы на&nbsp;то, чтобы убирать всё завершённое из&nbsp;поля зрения.
                      Однако видеть то, что уже достигнуто в&nbsp;прошлом, так&nbsp;же важно, как и&nbsp;планирование будущего.
                      Как бы медленно ты не&nbsp;двигался, <span class='text-white'>главное &mdash; не&nbsp;останавливаться</span>.
                    </p>
                </div>

                <div class='col-md-4 mb30'>
                    <img src='landing/images/social.jpg' alt='' class='img-fluid mb20'>
                    <h4 class='feature-text mb20'>Социальная сеть</h4>
                    <p>
                        Несмотря на&nbsp;то, что изначально Dreamcore задумывался как персональный инструмент, можно <span class="text-white">обмениваться мечтами с&nbsp;друзьями</span>: во-первых, с&nbsp;целью объединения усилий, а&nbsp;во-вторых, чтобы самому было сложнее соскочить с&nbsp;намеченного пути.

                    </p>
                </div>

                <div class='col-md-4 mb30'>
                    <img src='landing/images/stack2.jpg' alt='' class='img-fluid mb20'>
                    <h4 class='feature-text mb20'>Фокусировка</h4>
                    <p>
                        В&nbsp;мире есть много сервисов, помогающих быть более эффективной версией тебя.
                        Но&nbsp;цель Dreamcore &mdash; это более счастливая версия тебя.
                        Это не&nbsp;todo-лист, это анти-todo-лист, который подскажет, <span class='text-white'>чего делать не&nbsp;нужно</span>, если это не&nbsp;имеет отношения к&nbsp;вашим глобальным целям.


                    </p>
                </div>

            </div>

        </div>
        <hr>



        <!-- FEATURES -->

        <div class='pt90 pb50 container' id="features">

            <div class="row">
                <div class="col-md-8 mr-auto ml-auto text-center">
                    <div class="center-title mb50">
                        <h3>Как это работает?</h3>
                    </div>
                    <p class='lead font400 '>
                        Всё начиналось со&nbsp;списков целей на&nbsp;год, оформленных
                        в&nbsp;виде небольших значков &mdash; <span class='text-white'>ачивментов</span>.

                        <img src='landing/images/achievements_original.jpg' alt='' class='img-fluid mt20 mb20'>
                      </p>

                      <p class="mb50">

                        В процессе перехода от&nbsp;ручного рисования картинок к&nbsp;веб-платформе, родился ряд вспомогательных
                        модулей. Все модули используют хорошо известные и&nbsp;<span class='text-white'>проверенные временем психологические принципы</span>.
                      </p>

                      <p class='lead font400 mb50'>
                        Вот некоторые из&nbsp;модулей, запланированных на&nbsp;последующие релизы:
                    </p>
                </div>
            </div>


            <div class='row'>
                <div class='col-md-4 mb40'>
                    <div class='clearfix icon-card'>
                        <div class='icon'>
                            <i class='icon-chat'></i>
                        </div>
                        <div class='icon-content'>
                            <h4>Collab</h4>
                            <p>
                                Совместная работа над&nbsp;ачивментами с&nbsp;друзьями
                                <!-- Manage your tasks in more relaxed way than usual productivity solutions do. -->
                                <!-- Productivity is not about doing more, it's about not doing what's not necessary. -->
                            </p>
                        </div>
                    </div>
                </div><!--/col-->
                <div class='col-md-4 mb40'>
                    <div class='clearfix icon-card'>
                        <div class='icon'>
                            <i class='icon-tools'></i>
                        </div>
                        <div class='icon-content'>
                            <h4>Actions</h4>
                            <p>
                                Декомпозиция ачивментов на&nbsp;отдельные небольшие действия
                            </p>
                        </div>
                    </div>
                </div><!--/col-->
                <div class='col-md-4 mb40'>
                    <div class='clearfix icon-card'>
                        <div class='icon'>
                            <i class='icon-aperture'></i>
                        </div>
                        <div class='icon-content'>
                            <h4>Scopes</h4>
                            <p>
                                Объединение ачивментов по&nbsp;жизненным областям
                            </p>
                        </div>
                    </div>
                </div><!--/col-->
            </div>
            <div class='row'>
              <div class='col-md-4 mb40'>
                    <div class='clearfix icon-card'>
                        <div class='icon'>
                            <i class='icon-refresh'></i>
                        </div>
                        <div class='icon-content'>
                            <h4>Streaks</h4>
                            <p>
                                Ачивменты, состоящие из&nbsp;регулярных повторений
                            </p>
                        </div>
                    </div>
                </div><!--/col-->
                <div class='col-md-4 mb40'>
                    <div class='clearfix icon-card'>
                        <div class='icon'>
                            <i class='icon-focus'></i>
                        </div>
                        <div class='icon-content'>
                            <h4>Priorities</h4>
                            <p>
                                Управление большим количеством ачивментов
                            </p>
                        </div>
                    </div>
                </div><!--/col-->
                <div class='col-md-4 mb40'>
                    <div class='clearfix icon-card'>
                        <div class='icon'>
                            <i class='icon-streetsign'></i>
                        </div>
                        <div class='icon-content'>
                            <h4>Timeline</h4>
                            <p>
                                Планирование ачивментов во&nbsp;времени
                            </p>
                        </div>
                    </div>
                </div><!--/col-->

            </div>
        </div>
        <div class="bg-parallax pt100 pb100 parallax-overlay" data-jarallax='{"speed": 0.2}' style='background-image: url("images/bg2.jpg")'>
            <div class='container'>
                <div class='row'>
                    <div class='col-md-7'>
                        <h3 class='text-white'>Dreamcore сейчас <span class="text-primary">на&nbsp;самой ранней стадии</span>.</h3>
                        <p class='lead'>
                          Но это не значит, что его нельзя опробовать! <br>
                          Обратная связь и&nbsp;идеи горячо приветствуются!
                        </p>

                    </div>
                    <div class='col-md-5 text-right pt20'>
                        <a href='/signup' class='btn btn-white-outline btn-lg'>Регистрация</a>
                    </div>
                </div>
            </div>
        </div>



        <!-- <div class=" pt90 pb60">
            <div class="container">
               <div class="center-title mb50 text-center">
                    <h3>Our Journal</h3>
                </div>
                <div class="row">
                    <div class="col-md-4 mb30 wow fadeInUp" data-wow-delay=".2s">
                        <div class="entry-card">
                            <a href="#" class="entry-thumb">
                                <img src="landing/images/wide1.jpg" alt="" class="img-fluid">
                                <span class="thumb-hover ti-back-right"></span>
                            </a>
                            <div class="entry-content">
                                <div class="entry-meta mb5">
                                    <span>
                                        May 15th 2017
                                    </span>
                                </div>
                                <h4 class="entry-title text-capitalize">
                                    <a href="#">
                                        Manage grid items with bootstrap4 flex box sit amet
                                    </a>
                                </h4>
                                <p>
                                    Our clients range from FTSE 300 to large charitable  and some small local businesses who are striving to expand.
                                </p>
                                <div class="text-right">
                                    <a href="#" class="btn-link btn">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div> -->


        <!-- <div class="bg-faded pt90 pb90">
            <div class="container">
                  <div class="center-title mb50 text-center">
                    <h3>Get updates</h3>
                </div>
                <div class="row">
                    <div class="col-md-8 mr-auto ml-auto">
                        <form id="widget-subscribe-form" action="index.html" role="form" method="post" class="mb0">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                <input type="email" name="widget-subscribe-form-email" class="form-control required" placeholder="Enter your Email">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit">Subscribe</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
 -->
